.container {
    max-width: 1024px;
    margin: auto;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    padding: 5px 20px;
}

a.active {
    color: rgb(207, 146, 12);
}

.message {
    background-color: beige;
    padding: 10px;
    border-radius: 15px;
}

.error-message {
    background-color: brown;
}

.error {
    color: brown;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

.post-item form{
    display: initial;
}

.post-item {
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px #000000;
    padding: 15px;
    border-radius: 5px;
}

.btn{
    background-color: bisque;
    padding: 5px;
    border: solid black;
    font-size: 16px;
    outline: none;
    text-decoration: none;
}